<body class="page-500">

	<div class="error-text">
		<span class="oops">OUCH!</span><br>
		<span class="hr"></span>
		<br>
		SOMETHING IS NOT QUITE RIGHT
		<br>
		<p>{{reason}}</p>
		<span class="solve">We hope to solve it shortly</span>
	</div> <!-- / .error-text -->

</body>
