<body class='login-page' >

{{> topnav}}

<div class='form forgot-form'>
   <form id='forgot-form' method='post' action='/forgotpassword'>
       <div class='forgot-text'>
	  <span>Provide the email associated with your iQsign account.	If this is a registered email address, you should receive
		a link allowing you to reset your password</span>
       </div>
       <br/>
       <table>
       <tr class='form-row'>
	  <td>
	     <label for='email' class='inputlabel'>Email Address: </label>
	  </td>
	  <td>
	     <input type='email' name='email' id='forgot-email' class='form-control input'
		 required placeholder='Enter email address' value='{{email}}' />
	  </td>
       </tr>
       <tr>
	  <td colspan='2'>
	     <span id='forgot-error' class='error hidden'></span>
	  </td>
       </tr>
       <tr>
	  <td colspan='2' class='centered'>
	     <input type='submit' id="forgot-submit" value='Send Request' />
	  </td>
       </tr>
       </table>
       <br/>
       <div>
	  <span>
	     <a href='/login' class='forgot-link'>Already registered> Login/a>&nbsp;&nbsp;
	     <a href='/register' class='forgot-link'>Not a user? Register</a>
	  </span>
       </div>
    </form>
<div>
<div id='post-forgot' class='hidden'>
   A password reset link has been sent to your email address if you have an iQsign account.
   Click on it to continue.
</div>

{{> botnav}}

<script>

$(function() {
   $("#forgot-form").submit(event => handleForgotSubmit(event));
});

</script>

</body>





















