<body class='loginbody'>

<h1 class='pagetitle'>SmartSign Authorized Login Page</h1>

<div class='info'>
<p>
Your SmartSign credentials are required in order to register or use
your personal SmartSign with Samsung's SmartThings applications.
</p>
</div>

<div class='loginform row'>
   <div class='col-md-6 offset=md-3'>
      <form id='useridform' method='post'>
	 <div class='form-group'>
	    <label for='username' class='inputlabel'>User Id: </label>
	    <input id='username' name='username' type='text' class='form-control' placeholder='User user name or email address'/>
	 </div>
	 <div class='form-group'>
	    <label for='password' class='inputlabel'>Passsword: </label>
	    <input id='password' name='password' type='password' placeholder='Enter your password'/>
	 </div>
	 <button class='btn btn-primary'>Login</button>
      </form>
   </div>
</div>

</body>












