# Files to ignore

*.class
bBUFFERS
bCONTROL
bBACKUP
*.tmp
javadep
UNKNOWN
filesystem.attributes
bin.*
ir.out
xxx*
hs_err_pid*
update.out
*.xjs
.snapshot
.snapshots
*.o
*.so
core*
*.out
*.old
*.model
public
#*
eclipsepath
*.lcl
*.orig
tags
*~
.*~
*.pdf
*.ps
*.log
*.out.xml
*.csv
build.properties
git.info
secret
node_modules
signmaker.jar
.DS_Store
savedimages/*
install.csh
package-lock.json
